![Alt](https://capas-m2.wmixvideo.com.br/cr135456.jpg)
# **LossTree Chocolate Factory**

In [1]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import dataset previously treated: LossTree_2018_2021.csv
data = pd.read_csv('LossTree_2018_2021.csv')
pd.set_option('display.max_rows', 1000)

In [4]:
data.head(2)

,Unnamed: 0,Conj Datas,Ativo,Shiftkey,tempo inicio,tempo final,Segundos,Minutes,Horas,Cycles,final ciclos,Super Razao,Razão Lvl1,Razão Lvl2,Razão Lvl3,Razão Lvl4,Notas,SKUs,User
0,0,6601,LINHA 01,2018010101,01/01/2018 06:00,01/01/2018 14:00,28800,480,8,0,0,2-Feriados,Parada Geral,Parada Geral D01,Feriado,NaN,NaN,CHOCOLATE BRANCO 90G,Camargo
1,1,6601,LINHA 01,2018010102,01/01/2018 14:00,01/01/2018 22:00,28800,480,8,0,0,2-Feriados,Parada Geral,Parada Geral D01,Feriado,NaN,NaN,CHOCOLATE BRANCO 90G,Camargo

##### *Data Cleaning and Manipulation*

In [5]:
data['Minutes']=data['Segundos'].apply(lambda x: x/60)
data['Horas']=data['Segundos'].apply(lambda x: x/3600)

In [6]:
data['Minutes']=data['Minutes'].astype(float)
data['Horas']=data['Horas'].astype(float)

In [7]:
data['Shiftkey']=data['Shiftkey'].astype(str)

In [8]:
data['Shift']=data['Shiftkey'].apply(lambda x: x[9:10])
data['Date2']=data['Shiftkey'].apply(lambda x: x[:8])
data['Date']=data['tempo inicio'].apply(lambda x: x[0:11])
data['tempo inicio']=data['tempo inicio'].apply(lambda x: x[11:])
data['tempo final']=data['tempo final'].apply(lambda x: x[11:])

In [9]:
data['Date1']=data['Date'].apply(lambda x: x[6:10]+x[3:5]+x[0:2])

In [10]:
data.rename(columns = {'Razão  Lvl1':'Razao Lvl1','Razão Lvl2':'Razao Lvl2','Razão Lvl3':'Razao Lvl3','Razão Lvl4':'Razao Lvl4'}, inplace = True)

In [11]:
data['SKUs'].replace(['DOVE SAB KAR E BAUNILHA 24X2X90G'],'CHOCOLATE & BAUNILHA 90G COMBO2', inplace = True)

In [12]:
data['Super Razao'].replace(['1-Perdas legais'], 'Perda 1 - Perdas legais', inplace = True)
data['Super Razao'].replace(['2-Feriados'], 'Perda 2 - Feriados', inplace = True)
data['Super Razao'].replace(['4- Tempo oscioso'], 'Perda 4 - Tempo Oscioso', inplace = True)
data['Super Razao'].replace(['12-Prep e Fim prod'], 'Perda 12 - Prep e Fim Prod', inplace = True)
data['Super Razao'].replace(['Uptime'], 'Tempo Efetivo Producao', inplace = True)
data['Super Razao'].replace(['18- Pequenas Paradas'], 'Perda 18 - Pequenas Paradas', inplace = True)
data['Super Razao'].replace(['21-Medições/Ajustes'], 'Perda 21 - Medicoes e Ajustes', inplace = True)
data['Super Razao'].replace(['20-Defeito qualidade'], 'Perda 20 - Defeito Qualidade', inplace = True)
data['Super Razao'].replace(['13-Quebra/falha equi'], 'Perda 13 - Quebra Equipamento', inplace = True)
data['Super Razao'].replace(['17-Troca ferr corte'], 'Perda 17 - Troca Ferramental', inplace = True)
data['Super Razao'].replace(['7-Teste/modific plan'], 'Perda 7 - Testes e Inovação', inplace = True)
data['Super Razao'].replace(['11-Troca'], 'Perda 11 - Troca de Produto', inplace = True)
data['Super Razao'].replace(['No Superreason'], 'SEM PREENCHIMENTO', inplace = True)
data['Super Razao'].replace(['8- Manutenção planej'], 'Perda 8 - Manutenção planej', inplace = True)
data['Super Razao'].replace(['10-Tempo limp/Saniti'], 'Perda 10 - Tempo Limpeza', inplace = True)
data['Super Razao'].replace(['14-Falha prod ineren'], 'Perda 14 - Falha Prod Inerente', inplace = True)
data['Super Razao'].replace(['19-Velocidade Reduz'], 'Perda 19 - Velocidade Reduzida', inplace = True)
data['Super Razao'].replace(['5-Parada planejada'], 'Perda 5 - Parada Planejada', inplace = True)
data['Super Razao'].replace(['16-Disponib material'], 'Perda 16 - Indisponibilidade Material', inplace = True)
data['Super Razao'].replace(['6-Falta Utilidades'], 'Perda 6 - Falta Utilidades', inplace = True)
data['Super Razao'].replace(['15- Falta operadores'], 'Perda 15 - Falta Mao de Obra', inplace = True)

In [13]:
df = data[['Date1','Ativo','Date','Shift','SKUs','tempo inicio','tempo final','Segundos','Minutes','Horas','Super Razao','Razao Lvl1','Razao Lvl2','Razao Lvl3','Razao Lvl4','User','Notas']]

##### *Exploring Data*

In [14]:
df.shape

(331927, 17)

In [15]:
df.columns

Index(['Date1', 'Ativo', 'Date', 'Shift', 'SKUs', 'tempo inicio',
       'tempo final', 'Segundos', 'Minutes', 'Horas', 'Super Razao',
       'Razao Lvl1', 'Razao Lvl2', 'Razao Lvl3', 'Razao Lvl4', 'User',
       'Notas'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331927 entries, 0 to 331926
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date1         331927 non-null  object
 1   Ativo         331927 non-null  object
 2   Date          331927 non-null  object
 3   Shift         331927 non-null  object
 4   SKUs          331927 non-null  object
 5   tempo inicio  331927 non-null  object
 6   tempo final   331927 non-null  object
 7   Segundos      331927 non-null  int64
 8   Minutes       331927 non-null  float64
 9   Horas         331927 non-null  float64
 10  Super Razao   331927 non-null  object
 11  Razao Lvl1    331927 non-null  object
 12  Razao Lvl2    264972 non-null  object
 13  Razao Lvl3    264923 non-null  object
 14  Razao Lvl4    182452 non-null  object
 15  User          331927 non-null  object
 16  Notas         66409 non-null   object
dtypes: float64(2), int64(1), object(14)
memory usage: 43.1+ MB

##### *Data Manipulation - Aggregation*

In [17]:
#Objetivo dos passos seguintes é construir agregações capazes de vincular a soma de tempos baseando nas categorias das colunas de SUPER RAZÃO (natureza de perdas de produção ou o próprio tempo produtivo), DATAS, SKU (variantes de produtos).

In [18]:
Super_Reason_Shift = df.groupby(by=['Date1','Ativo','Date','Shift', 'SKUs','Super Razao'], as_index=False).sum()

In [19]:
Super_Reason_Shift.head(2)

,Date1,Ativo,Date,Shift,SKUs,Super Razao,Segundos,Minutes,Horas
0,20180101,LINHA 01,01/01/2018,1,CHOCOLATE BRANCO 90G,Perda 2 - Feriados,28800,480.0,8.0
1,20180101,LINHA 01,01/01/2018,2,CHOCOLATE BRANCO 90G,Perda 2 - Feriados,28800,480.0,8.0

In [20]:
Super_Reason_Day = Super_Reason_Shift.groupby(by=['Date1','Ativo','Date','SKUs','Super Razao'], as_index=False).sum()

In [21]:
Super_Reason_Day.head(2)

,Date1,Ativo,Date,SKUs,Super Razao,Segundos,Minutes,Horas
0,20180101,LINHA 01,01/01/2018,CHOCOLATE BRANCO 90G,Perda 2 - Feriados,86400,1440.0,24.0
1,20180101,LINHA 02,01/01/2018,SEM PLANEJAMENTO,Perda 2 - Feriados,86400,1440.0,24.0

In [23]:
#Abaixo executa-se um FOR LOPPING para atribuir soma para as perdas tipo 1 ao 7, pois estão são desconsideradas do tempo util diário para o devido computo da hora válida disponível para o calculo da eficiência.

In [24]:
lista_perdas = ['Perda 1 - Perdas legais','Perda 2 - Feriados','Perda 4 - Tempo Oscioso','Perda 5 - Parada Planejada','Perda 6 - Falta Utilidades','Perda 7 - Testes e Inovação','SEM PREENCHIMENTO']

In [25]:
lista_valores = []
counter = 0
for i in Super_Reason_Day['Super Razao']:
    if i in lista_perdas:
        lista_valores.append(Super_Reason_Day['Minutes'][counter])
        counter = counter+1
    else:
        lista_valores.append(0)
        counter = counter+1

In [26]:
Super_Reason_Day['SomaPerdas1_7'] = pd.DataFrame(lista_valores)

In [27]:
Produtividade = Super_Reason_Day.groupby(['Ativo','Date1','Date'],as_index = False).sum()
Produtividade

         Ativo     Date1         Date  Segundos  Minutes  Horas  SomaPerdas1_7
0     LINHA 01  20180101  01/01/2018      86400   1440.0   24.0         1440.0
1     LINHA 01  20180102  02/01/2018      86400   1440.0   24.0         1440.0
2     LINHA 01  20180103  03/01/2018      64800   1080.0   18.0          480.0
3     LINHA 01  20180104  04/01/2018      86400   1440.0   24.0            0.0
4     LINHA 01  20180105  05/01/2018      86400   1440.0   24.0            4.0
...        ...       ...          ...       ...      ...    ...            ...
3538  LINHA 03  20210322  22/03/2021      86400   1440.0   24.0            0.0
3539  LINHA 03  20210323  23/03/2021      86400   1440.0   24.0            0.0
3540  LINHA 03  20210324  24/03/2021      86400   1440.0   24.0           64.0
3541  LINHA 03  20210325  25/03/2021      86400   1440.0   24.0            0.0
3542  LINHA 03  20210326  26/03/2021      50400    840.0   14.0            0.0

[3543 rows x 7 columns]

In [30]:
Produtividade['HoraValida'] = 1440 - Produtividade['SomaPerdas1_7']
# encontrar os valores das horas válidas a serem usadas no denominador do calculo de eficiência

In [254]:
list(Produtividade['HoraValida'])

[0.0,
 0.0,
 960.0,
 1440.0,
 1436.0,
 1440.0,
 1432.0,
 1411.0,
 1401.0,
 1377.0,
 1440.0,
 1431.0,
 1424.0,
 1440.0,
 1440.0,
 1440.0,
 1401.0,
 1419.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 674.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 346.0,
 644.0,
 605.0,
 1397.0,
 1408.0,
 1435.0,
 1440.0,
 1440.0,
 1416.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1405.0,
 696.0,
 1224.0,
 1427.0,
 1440.0,
 1440.0,
 1430.0,
 1440.0,
 1426.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1420.0,
 1440.0,
 1438.0,
 1423.0,
 1440.0,
 1403.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1420.0,
 1412.0,
 1387.0,
 1421.0,
 1440.0,
 1440.0,
 1403.0,
 794.0,
 735.9999999999999,
 1290.0,
 1059.0,
 1440.0,
 1440.0,
 1433.0,
 1440.0,
 575.0,
 1440.0,
 1180.0,
 644.0,
 1440.0,
 1386.0,
 1420.0,
 1440.0,
 1420.0,
 1307.0,
 1360.0,
 1440.0,
 1440.0,
 1411.0,
 1420.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 920.0,
 1228.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1431.0,
 1440.0,
 1440.0,
 -55.0,
 0.0,
 810.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1434.0,
 1440.0,
 1440.0,
 1420.0,
 1440.0,
 865.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 720.0,
 1404.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1320.0,
 1440.0,
 1440.0,
 1440.0,
 1430.0,
 1440.0,
 1260.0,
 1440.0,
 724.0,
 1425.0,
 1440.0,
 1260.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 863.0,
 0.0,
 0.0,
 480.0,
 0.0,
 0.0,
 720.0,
 1440.0,
 1440.0,
 1270.0,
 1440.0,
 1435.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1429.0,
 -360.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1440.0,
 1440.0,
 1424.0,
 1440.0,
 1440.0,
 1440.0,
 1412.0,
 1440.0,
 1430.0,
 1440.0,
 1440.0,
 1440.0,
 1410.0,
 1320.0,
 569.0,
 1046.0,
 1420.0,
 1260.0,
 1269.0,
 1440.0,
 1399.0,
 1432.0,
 1434.0,
 982.0,
 0.0,
 1436.0,
 831.0,
 976.0,
 1089.0,
 161.0,
 0.0,
 1020.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1430.0,
 749.0,
 1385.0,
 1440.0,
 1440.0,
 1432.0,
 818.0,
 1339.0,
 1440.0,
 1440.0,
 1430.0,
 1440.0,
 1430.0,
 1427.0,
 364.0,
 1368.0,
 1436.5,
 1440.0,
 1433.0,
 1436.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1187.0,
 120.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1429.0,
 1422.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1415.0,
 1440.0,
 1440.0,
 1440.0,
 1427.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1289.0,
 1170.0,
 1440.0,
 1440.0,
 910.0,
 1430.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1427.0,
 1438.0,
 1440.0,
 1436.0,
 1436.0,
 1440.0,
 1440.0,
 1394.5,
 1440.0,
 1440.0,
 1440.0,
 343.0,
 0.0,
 614.0,
 621.0,
 1440.0,
 1440.0,
 1440.0,
 1394.0,
 950.0,
 1370.0,
 1440.0,
 1440.0,
 1285.0,
 1394.0,
 1405.0,
 1432.0,
 720.0,
 1440.0,
 1440.0,
 1440.0,
 1429.0,
 1440.0,
 1440.0,
 1440.0,
 1436.0,
 1424.0,
 1436.0,
 1428.0,
 960.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 480.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 180.0,
 1282.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 685.0,
 1440.0,
 1440.0,
 951.0000000000001,
 631.0,
 1290.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1040.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1230.0,
 1440.0,
 975.0,
 1357.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1430.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1430.0,
 1440.0,
 978.0000000000001,
 780.0,
 1181.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1320.0,
 360.0,
 1320.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1020.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1415.0,
 414.0,
 1440.0,
 1440.0,
 941.0,
 1323.0,
 1440.0,
 1440.0,
 1440.0,
 600.0,
 1440.0,
 720.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 120.0,
 1320.0,
 780.0,
 822.0,
 760.0,
 701.0,
 1106.0,
 600.0,
 1440.0,
 1440.0,
 148.0,
 1409.0,
 1300.0,
 1234.0,
 1320.0,
 1200.0,
 1232.0,
 1260.0,
 1342.0,
 1320.0,
 1440.0,
 1440.0,
 1440.0,
 1390.0,
 1260.0,
 1437.0,
 -51.0,
 0.0,
 0.0,
 0.0,
 360.0,
 1398.0,
 1320.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1004.0,
 1142.0,
 1360.0,
 568.0,
 818.0,
 899.0,
 746.0,
 1256.0,
 1002.0,
 980.0,
 1440.0,
 1380.0,
 1404.0,
 1380.0,
 1440.0,
 1330.0,
 1212.0,
 670.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1004.0,
 1412.0,
 1440.0,
 1401.6666666666667,
 1202.0666666666666,
 1440.0,
 1282.0,
 1326.8,
 1390.0,
 1422.1666666666667,
 1440.0,
 1367.0,
 230.99999999999977,
 859.0,
 -296.0,
 647.0,
 1356.8666666666666,
 1440.0,
 1020.0,
 1260.0,
 1290.0,
 1364.75,
 1350.0,
 1380.0,
 1440.0,
 403.0,
 1362.0,
 -280.0,
 0.0,
 0.0,
 455.0,
 1309.0,
 1428.0,
 1314.0,
 1262.0,
 1401.0,
 1430.0,
 1389.0,
 1440.0,
 1366.0,
 1251.8,
 1320.0,
 1427.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1117.0,
 508.0,
 1053.85,
 1380.0,
 1328.5,
 1308.6666666666667,
 1262.0,
 1440.0,
 1419.0,
 -340.0,
 0.0,
 0.0,
 0.0,
 480.0,
 1075.0,
 1304.0,
 1351.0,
 1410.0,
 1440.0,
 1439.0,
 1310.0,
 1274.0,
 1380.0,
 480.0,
 1353.0,
 1001.0000000000001,
 1380.0,
 945.0,
 1148.0,
 1174.0666666666666,
 1440.0,
 780.0,
 1309.0,
 1320.8,
 1320.0,
 1186.0,
 1300.0,
 1440.0,
 1440.0,
 1380.0,
 1376.0,
 1440.0,
 1440.0,
 876.0,
 638.0,
 1262.0,
 1440.0,
 1380.0,
 1213.0,
 1299.0,
 1338.0,
 1440.0,
 1296.0,
 1350.0,
 900.0,
 958.0,
 1440.0,
 392.0,
 1312.0,
 1418.0,
 1361.0,
 1440.0,
 1440.0,
 1198.0,
 1380.0,
 1411.0,
 1260.0,
 1440.0,
 1440.0,
 1380.0,
 1440.0,
 1290.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1383.0,
 1304.0,
 1440.0,
 1440.0,
 1440.0,
 1325.0,
 1278.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 956.0,
 1433.0,
 1440.0,
 1440.0,
 1440.0,
 748.0,
 0.0,
 868.0,
 1440.0,
 -240.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 480.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 240.0,
 944.0,
 1010.3333333333334,
 1440.0,
 1440.0,
 1380.0,
 1440.0,
 1250.0,
 1440.0,
 739.0,
 1440.0,
 1440.0,
 1041.0,
 1416.0,
 451.0000000000002,
 1241.0,
 1134.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1427.0,
 1296.0,
 1440.0,
 1384.0,
 1403.3333333333333,
 1279.0,
 1295.0,
 365.0,
 1301.0,
 1380.0,
 1440.0,
 1440.0,
 1131.0,
 1295.0,
 1265.0,
 1410.0,
 1380.0,
 1305.0,
 1440.0,
 1080.0,
 1440.0,
 1434.0,
 1380.0,
 1380.0,
 1380.0,
 1440.0,
 1380.0,
 1440.0,
 1380.0,
 1440.0,
 1440.0,
 1380.0,
 1440.0,
 1440.0,
 612.0,
 1396.0,
 1380.0,
 1374.0,
 1440.0,
 1440.0,
 1440.0,
 1191.0,
 1031.0,
 1316.0,
 1440.0,
 1355.0,
 1440.0,
 1440.0,
 744.0,
 1197.0,
 1231.0,
 646.0,
 1380.0,
 750.0,
 1362.0,
 1428.0,
 1440.0,
 930.0,
 1440.0,
 1380.0,
 1440.0,
 1440.0,
 1440.0,
 921.3333333333333,
 842.5333333333333,
 1440.0,
 1261.0,
 1380.0,
 420.0,
 1080.0,
 1380.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1349.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1320.0,
 1440.0,
 1380.0,
 1440.0,
 1140.0,
 1278.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 718.0,
 1348.0,
 1320.0,
 1440.0,
 1440.0,
 1396.0,
 161.0,
 1094.0,
 1080.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1380.0,
 915.0,
 863.0,
 1036.0,
 -122.0,
 0.0,
 360.0,
 1214.0,
 1394.0,
 1440.0,
 1390.0,
 1402.0,
 1290.0,
 1260.0,
 1380.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1107.0,
 1110.0,
 1328.0,
 1440.0,
 1440.0,
 1440.0,
 1340.0,
 1363.0,
 1380.0,
 1200.0,
 1440.0,
 1440.0,
 85.0,
 0.0,
 0.0,
 480.0,
 0.0,
 1200.0,
 1380.0,
 1440.0,
 1320.0,
 1440.0,
 1390.0,
 1297.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1384.0,
 1440.0,
 1440.0,
 1388.0,
 1380.0,
 1440.0,
 1298.0,
 1330.0,
 1383.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1329.0,
 1384.0,
 1440.0,
 329.0,
 1290.0,
 1386.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 242.0,
 360.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 960.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1322.0,
 196.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 1440.0,
 ...]

In [31]:
def replace_negative (row):
    '''Esta função atribui o valor zero para números negativos existentes em cada linha'''
    if row >= 0:
        return int(row)
    else:
        return 0

In [32]:
Produtividade['HoraValida'] = Produtividade['HoraValida'].apply(replace_negative)
# aplicando a função de substituir os valores negativos gerados na fórmula anterior para os casos onde erroneamente a tabela fora preenchida 
# com a somatória diária em minutos superior a 1440 minutos ... desta forma, foi atribuido o valor de 0.

In [36]:
df_Produtivity = pd.merge(Super_Reason_Day,Produtividade,how="left",on=['Date1','Ativo','Date'])
df_Produtivity.head(2)
#Utilizado a função merge para unir os dois datasets criados, vinculando os dados de produtividade diária as respectivas linhas e SKU´s produzidos.

,Date1,Ativo,Date,SKUs,Super Razao,Segundos_x,Minutes_x,Horas_x,SomaPerdas1_7_x,Segundos_y,Minutes_y,Horas_y,SomaPerdas1_7_y,HoraValida
0,20180101,LINHA 01,01/01/2018,CHOCOLATE BRANCO 90G,Perda 2 - Feriados,86400,1440.0,24.0,1440.0,86400,1440.0,24.0,1440.0,0
1,20180101,LINHA 02,01/01/2018,SEM PLANEJAMENTO,Perda 2 - Feriados,86400,1440.0,24.0,1440.0,86400,1440.0,24.0,1440.0,0

In [37]:
df_Produtivity['%'] = df_Produtivity['Minutes_x'] / df_Produtivity['HoraValida']
df_Produtivity.head(2)
#Criação de nova coluna para demonstrar o percentual relacionado a cada perda.

,Date1,Ativo,Date,SKUs,Super Razao,Segundos_x,Minutes_x,Horas_x,SomaPerdas1_7_x,Segundos_y,Minutes_y,Horas_y,SomaPerdas1_7_y,HoraValida,%
0,20180101,LINHA 01,01/01/2018,CHOCOLATE BRANCO 90G,Perda 2 - Feriados,86400,1440.0,24.0,1440.0,86400,1440.0,24.0,1440.0,0,inf
1,20180101,LINHA 02,01/01/2018,SEM PLANEJAMENTO,Perda 2 - Feriados,86400,1440.0,24.0,1440.0,86400,1440.0,24.0,1440.0,0,inf

In [38]:
Super_Reason_Day_TempoEfetivoProducao = df_Produtivity.loc[(df_Produtivity['Super Razao'] == 'Tempo Efetivo Producao')]

In [39]:
Super_Reason_Day_TempoEfetivoProducao.rename(columns = {'Minutes_x':'Minutes','SomaPerdas1_7_x':'SomaPerdas1_7'}, inplace = True)

C:\Users\BARONI\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [40]:
df1 = Super_Reason_Day_TempoEfetivoProducao[['Date1','Ativo','Date','SKUs','Super Razao','Minutes','HoraValida','%']]
df1.head(2)
#Finalizado a criação do dataset principal para os valores de tempo efetivo de produção diária para cada linha/SKU

,Date1,Ativo,Date,SKUs,Super Razao,Minutes,HoraValida,%
10,20180103,LINHA 01,03/01/2018,CHOCOLATE BRANCO 90G,Tempo Efetivo Producao,99.0,960,0.103125
18,20180104,LINHA 01,04/01/2018,CHOCOLATE BRANCO 90G,Tempo Efetivo Producao,970.0,1440,0.673611

In [43]:
df2 = df_Produtivity[['Date1','Ativo','Date','SKUs','Super Razao','Minutes_x','HoraValida','%']]
df2.rename(columns = {'Minutes_x':'Minutes'}, inplace = True)
df2.head(2)
#Criação do dataset que consta todas as perdas de produção e seus respectivos tempos

C:\Users\BARONI\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Date1,Ativo,Date,SKUs,Super Razao,Minutes,HoraValida,%
0,20180101,LINHA 01,01/01/2018,CHOCOLATE BRANCO 90G,Perda 2 - Feriados,1440.0,0,inf
1,20180101,LINHA 02,01/01/2018,SEM PLANEJAMENTO,Perda 2 - Feriados,1440.0,0,inf

In [44]:
df2['%'].replace(['inf'], '0', inplace = True)

C:\Users\BARONI\AppData\Roaming\Python\Python38\site-packages\pandas\core\series.py:4575: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

##### *Production Data Cleaning*

Tratamento dos dados a partir de um novo banco de dados sobre produção diária de caixas.

In [46]:
#import dataset previously treated: Production_2018_2020.csv
Prod = pd.read_csv('Production_2018_2020.csv')
pd.set_option('display.max_rows', 1000)

In [47]:
Prod = Prod[['Work Centre','Confirmation date','Material Description','Confirmation Qty']]

In [48]:
Prod.rename(columns = {'Work Centre':'Ativo','Material Description':'SKUs','Confirmation date':'Date','Confirmation Qty':'Box Qty'}, inplace = True)

In [50]:
Prod['Ativo'].unique()

array(['BFB1', 'CERMEX', 'D003', 'D01', 'D02', 'BFB2', 'BFB3', nan],
      dtype=object)

In [51]:
Prod['Ativo'].replace(['BFB1','CERMEX','D01'], 'LINHA 01', inplace = True)
Prod['Ativo'].replace(['BFB2','D02'], 'LINHA 02', inplace = True)
Prod['Ativo'].replace(['BFB3','D003'], 'LINHA 03', inplace = True)

In [52]:
Prod['Date']=Prod['Date'].astype(str)

In [53]:
Prod['Date1'] = Prod['Date'].apply(lambda x: x[6:]+x[3:5]+x[0:2])

In [54]:
Prod = Prod[['Date1','Ativo','Date','SKUs','Box Qty']]
Prod.head(2)

      Date1     Ativo        Date                          SKUs Box Qty
0  20181201  LINHA 01  01/12/2018  CHOCOLATE BRANCO  90G COMBO3   0,000
1  20181202  LINHA 01  02/12/2018  CHOCOLATE BRANCO  90G COMBO3   0,000

In [55]:
def replace_object (row):
    '''Esta função exclui os (3) zeros após a vírgula do valor e  também exclui o caracter ponto (.)'''
    if row == row:
        row = row.replace(',000','')
        row = row.replace('.','')
        return int(row)
    else:
        return 0

In [56]:
Prod['Box Qty'] = Prod['Box Qty'].apply(replace_object)

In [57]:
ProdGroup = Prod.groupby(['Date1','Ativo','Date','SKUs'],as_index = False).sum()
ProdGroup.head(2)

      Date1     Ativo        Date                  SKUs  Box Qty
0  20180104  LINHA 01  04/01/2018  CHOCOLATE BRANCO 90G     7524
1  20180105  LINHA 01  05/01/2018  CHOCOLATE BRANCO 90G    10773

# Unindo as duas tabelas de tempo efetivo de produção com volume de caixas produzidas

In [58]:
df3 = pd.merge(df1,ProdGroup,how="left",on=['Date1','Ativo','SKUs'])
df3.head(2)

,Date1,Ativo,Date_x,SKUs,Super Razao,Minutes,HoraValida,%,Date_y,Box Qty
0,20180103,LINHA 01,03/01/2018,CHOCOLATE BRANCO 90G,Tempo Efetivo Producao,99.0,960,0.103125,NaN,NaN
1,20180104,LINHA 01,04/01/2018,CHOCOLATE BRANCO 90G,Tempo Efetivo Producao,970.0,1440,0.673611,04/01/2018,7524.0

# criando tabela final excluido os dados nulos da coluna Box Qty

In [61]:
df4 = df3.loc[df3['Box Qty'].notnull()]
df4.rename(columns = {'Date_x':'Date'}, inplace = True)
df4 = df4[['Date1','Ativo','Date','SKUs','Super Razao','Minutes','HoraValida','%','Box Qty']]
df4.head(2)

C:\Users\BARONI\AppData\Roaming\Python\Python38\site-packages\pandas\core\frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Date1,Ativo,Date,SKUs,Super Razao,Minutes,HoraValida,%,Box Qty
1,20180104,LINHA 01,04/01/2018,CHOCOLATE BRANCO 90G,Tempo Efetivo Producao,970.0,1440,0.673611,7524.0
3,20180105,LINHA 01,05/01/2018,CHOCOLATE BRANCO 90G,Tempo Efetivo Producao,1128.0,1436,0.785515,10773.0

In [180]:
df.to_csv("df_geral.csv")
df1.to_csv("df_eficiencia_producao.csv")
df2.to_csv("df_perdas.csv")
ProdGroup.to_csv("df_producao.csv")
Super_Reason_Shift.to_csv("df_tempo_producao_turno.csv")
Super_Reason_Day.to_csv("df_tempo_producao_dia.csv")
df4.to_csv("df_production_time.csv")